@using Microsoft.AspNetCore.Identity
@model List<IdentityRole>
@{
    int counter = 1;
}

<div class="container">
    <div class="row">
        <div class="col-3 mb-5">
            <a asp-action="Create" asp-controller="role" class="btn btn-primary">Create</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@(counter++)</th>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        
        </div>
    </div>
</div>