@using TechnoStore.ViewModels
@model AdminRoleVm

<div class="container">
    <div class="row">
        <h1>@Model.User.Surname</h1>
        <form method="post" asp-action="Update" asp-controller="role">
            @foreach (var role in Model.Roles)
            {
                @if(role != null)
                {
                    <input @(Model.UserRoles.Any(userrole => userrole == role.Name)?"checked":"") type="checkbox" value="" name="" /> @role.Name <br />
                }
            }
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>