@using TechnoStore.ViewModels
@model ForgetPasswordVm

<div class="container">
    <form method="post">
        <h1>Forget Password</h1>
        <label asp-for="appUser.Email" >Please Enter Email</label>
        <input class="form-control" asp-for="appUser.Email"  />
        <button type="submit" class="btn btn-outline-dark">Send</button>
        <span class="text-danger">
            @Html.ValidationMessage("Error")
        </span>
    </form>
</div>