@using Core.Models
@model ContactPost
<section class="flat-map">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div id="flat-map" class="pdmap">
							<div class="flat-maps" data-address="17872 US-90, Greenville, FL 32331" data-height="444" data-images="~/images//icons/map.png" data-name="Themesflat Map"></div>
							<div class="gm-map">
								<div class="map"></div>
							</div>
						</div><!-- /#flat-map -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /#flat-map -->

		<section class="flat-iconbox style4">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-3">
						<div class="iconbox style2">
							<div class="box-header">
								<div class="image">
									<img src="~/images//icons/address.png" alt="">
								</div>
								<div class="title">
									<h3>Address</h3>
								</div>
							</div><!-- /.box-header -->
							<div class="box-content">
								<p>
									PO Box CT16122 Collins Street West, Victoria 8007, Australia.
								</p>
							</div><!-- /.box-content -->
						</div><!-- /.iconbox style2 -->
					</div><!-- /.col-md-6 col-lg-3 -->
					<div class="col-md-6 col-lg-3">
						<div class="iconbox style2">
							<div class="box-header">
								<div class="image">
									<img src="~/images//icons/phone.png" alt="">
								</div>
								<div class="title">
									<h3>Phone</h3>
								</div>
							</div><!-- /.box-header -->
							<div class="box-content">
								<p>
									(888) 123 456 789
								</p>
								<p>
									(888) 589 658 23
								</p>
							</div><!-- /.box-content -->
						</div><!-- /.iconbox style2 -->
					</div><!-- /.col-md-6 col-lg-3 -->
					<div class="col-md-6 col-lg-3">
						<div class="iconbox style2">
							<div class="box-header">
								<div class="image">
									<img src="~/images//icons/mail-2.png" alt="">
								</div>
								<div class="title">
									<h3>Email</h3>
								</div>
							</div><!-- /.box-header -->
							<div class="box-content">
								<p>
									info@technostore.com
								</p>
							</div><!-- /.box-content -->
						</div><!-- /.iconbox style2 -->
					</div><!-- /.col-md-6 col-lg-3 -->
					<div class="col-md-6 col-lg-3">
						<div class="iconbox style2">
							<div class="box-header">
								<div class="image">
									<img src="~/images//icons/share.png" alt="">
								</div>
								<div class="title">
									<h3>Follow Us</h3>
								</div>
							</div><!-- /.box-header -->
							<div class="box-content">
								<ul class="social-list style2">
									<li>
										<a href="#" title="">
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#" title="">
											<i class="fa fa-twitter" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#" title="">
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#" title="">
											<i class="fa fa-pinterest" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#" title="">
											<i class="fa fa-dribbble" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#" title="">
											<i class="fa fa-google" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div><!-- /.box-content -->
						</div><!-- /.iconbox style2 -->
					</div><!-- /.col-md-6 col-lg-3 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-iconbox style4 -->

		<section class="flat-contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-2">
					</div>
					<div class="col-lg-8 col-md-12">
						<div class="form-contact center">
							<div class="form-contact-header">
								<h3>Leave us a Message</h3>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
								</p>
							</div><!-- /.form-contact-header -->
							<div class="form-contact-content">
								<form asp-action="Index"  method="post" id="form-contact" accept-charset="utf-8">
							<div class="form-box one-half name-contact">
								        <input id="name-contact" asp-for="Name" placeholder="First name">
									</div><br />
									<div class="form-box">
								     <input id="subject-contact" asp-for="Email" placeholder="Please Enter Email">
									</div>
									<div class="form-box">
										<label for="comment-contact">Comment</label>
								        <textarea asp-for="Comment" id="comment-contact"></textarea>
									</div>
									<div class="form-box">
										<button type="submit" class="contact">Send</button>
									</div>
								</form>
							</div><!-- /.form-contact-content -->
						</div><!-- /.form-contact center -->
					</div><!-- /.col-lg-8 col-md-12 -->
					<div class="col-lg-2">
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-contact -->

	