<section class="flat-breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumbs">
							<li class="trail-item">
								<a href="#" title="">Home</a>
								<span><img src="~/images//icons/arrow-right.png" alt=""></span>
							</li>
							<li class="trail-item">
								<a href="#" title="">Shop</a>
								<span><img src="~/images//icons/arrow-right.png" alt=""></span>
							</li>
							<li class="trail-end">
								<a href="#" title="">Smartphones</a>
							</li>
						</ul><!-- /.breacrumbs -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-breadcrumb -->

		<section class="flat-about">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="image-about">
							<img src="~/images//about/01.jpg" alt="">
						</div>
					</div><!-- /.col-md-6 -->
					<div class="col-md-6">
						<div class="text-about">
							<div class="title">
								<h3>There are many variations of passages</h3>
							</div>
							<div class="content">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis diam erat. Duis velit lectus, posuere a blandit sit amet, tempor at lorem. Donec ultricies, lorem sed ultrices interdum, leo metus luctus sem, vel vulputate diam ipsum sed lorem. Donec tempor arcu nisl, et molestie massa scelerisque ut. Nunc at rutrum leo. Mauris metus mauris, tristique quis sapien eu, rutrum vulputate enim.
								</p>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, erat in malesuada aliquam, est erat faucibus purus, eget viverra nulla sem vitae neque. <span>Quisque id sodales libero. In nec enim nisi, in ultricies quam. Sed lacinia feugiat velit, cursus molestie lectus mollis et.</span>
								</p>
							</div><!-- /.content -->
						</div><!-- /.text-about -->
					</div><!-- /.col-md-6 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-about -->

		<section class="main-blog">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<article class="main-post style4">
							<div class="featured-post">
								<a href="#" title="">
									<img src="~/images//about/02.jpg" alt="">
								</a>
							</div><!-- /.featured-post -->
							<div class="divider37"></div>
							<div class="content-post">
								<h3 class="title-post">
									<a href="#" title="">There are many</a>
								</h3>
								<div class="entry-post">
									<p>
										This is a Rebel that surrendered to us. Although he denies it, I believe there may be more of them, and I request permission to conduct a further search of the area. He was
									</p>
								</div>
							</div><!-- /.content-post -->
						</article><!-- /.main-post style4 -->
					</div><!-- /.col-md-4 -->
					<div class="col-md-4">
						<article class="main-post style4">
							<div class="featured-post">
								<a href="#" title="">
									<img src="~/images//about/03.jpg" alt="">
								</a>
							</div><!-- /.featured-post -->
							<div class="divider37"></div>
							<div class="content-post">
								<h3 class="title-post">
									<a href="#" title="">Many desktop publishing </a>
								</h3>
								<div class="entry-post">
									<p>
										This is a Rebel that surrendered to us. Although he denies it, I believe there may be more of them, and I request permission to conduct a further search of the area. He was
									</p>
								</div>
							</div><!-- /.content-post -->
						</article><!-- /.mai-post style4 -->
					</div><!-- /.col-md-4 -->
					<div class="col-md-4">
						<article class="main-post style4">
							<div class="featured-post">
								<a href="#" title="">
									<img src="~/images//about/04.jpg" alt="">
								</a>
							</div><!-- /.featured -->
							<div class="divider37"></div>
							<div class="content-post">
								<h3 class="title-post">
									<a href="#" title="">Lorem Ipsum is simply</a>
								</h3>
								<div class="entry-post">
									<p>
										This is a Rebel that surrendered to us. Although he denies it, I believe there may be more of them, and I request permission to conduct a further search of the area. He was
									</p>
								</div>
							</div><!-- /.content-post -->
						</article><!-- /.main-post style4 -->
					</div><!-- /.col-md-4 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.main-blog -->

		<section class="flat-team">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h3>Meet Our Team</h3>
						</div>
						<div class="team-member owl-carousel-8">
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/01.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										Garry Stil
									</div>
									<div class="option">
										CEO/Founder
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/02.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										Angela Baby
									</div>
									<div class="option">
										Fashion Designer
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/03.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										John Swim
									</div>
									<div class="option">
										CEO/Founder
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/04.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										Harry Dor
									</div>
									<div class="option">
										Fashion Designer
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/01.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										Garry Stil
									</div>
									<div class="option">
										CEO/Founder
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/02.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										Angela Baby
									</div>
									<div class="option">
										Fashion Designer
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/03.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										John Swim
									</div>
									<div class="option">
										CEO/Founder
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/04.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										Harry Dor
									</div>
									<div class="option">
										Fashion Designer
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/01.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										Garry Stil
									</div>
									<div class="option">
										CEO/Founder
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/02.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										Angela Baby
									</div>
									<div class="option">
										Fashion Designer
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/03.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										John Swim
									</div>
									<div class="option">
										CEO/Founder
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/04.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										Harry Dor
									</div>
									<div class="option">
										Fashion Designer
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/01.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										Garry Stil
									</div>
									<div class="option">
										CEO/Founder
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/02.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										Angela Baby
									</div>
									<div class="option">
										Fashion Designer
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/03.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										John Swim
									</div>
									<div class="option">
										CEO/Founder
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/04.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										Harry Dor
									</div>
									<div class="option">
										Fashion Designer
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/01.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										Garry Stil
									</div>
									<div class="option">
										CEO/Founder
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/02.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										Angela Baby
									</div>
									<div class="option">
										Fashion Designer
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/03.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										John Swim
									</div>
									<div class="option">
										CEO/Founder
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/04.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										Harry Dor
									</div>
									<div class="option">
										Fashion Designer
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/01.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										Garry Stil
									</div>
									<div class="option">
										CEO/Founder
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/02.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										Angela Baby
									</div>
									<div class="option">
										Fashion Designer
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/03.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										John Swim
									</div>
									<div class="option">
										CEO/Founder
									</div>
								</div>
							</div><!-- /.member -->
							<div class="member">
								<div class="image-member">
									<img src="~/images//team/04.jpg" alt="">
								</div>
								<div class="member-info">
									<div class="name-member">
										Harry Dor
									</div>
									<div class="option">
										Fashion Designer
									</div>
								</div>
							</div><!-- /.member -->
						</div><!-- /.team-member owl-carousel-8 -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-team -->

		<section class="flat-testimonial">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h3>Testimonials</h3>
						</div>
						<div class="testimonial owl-carousel-17">
							<div class="testimonial-item">
								<div class="image">
									<img src="~/images//testimonial/01.jpg" alt="">
								</div>
								<div class="content">
									<div class="name">
										Harry Dor
									</div>
									<p>
										Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo <br />consequat facer possim assum. Mirum est notare quam littera gothica .
									</p>
								</div>
							</div><!-- /.testimonial-item -->
							<div class="testimonial-item">
								<div class="image">
									<img src="~/images//testimonial/01.jpg" alt="">
								</div>
								<div class="content">
									<div class="name">
										Angela Baby
									</div>
									<p>
										Ut wisi enim ad minim veniam, quis nostrud suscipit lobortis nisl ut aliquip ex ea commodo <br />consequat facer possim assum. Mirum est notare quam littera gothica .
									</p>
								</div>
							</div><!-- /.testimonial-item -->
							<div class="testimonial-item">
								<div class="image">
									<img src="~/images//testimonial/01.jpg" alt="">
								</div>
								<div class="content">
									<div class="name">
										Garry Stil
									</div>
									<p>
										Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo <br />consequat facer possim assum. Mirum est notare quam littera gothica .
									</p>
								</div>
							</div><!-- /.testimonial-item -->
							<div class="testimonial-item">
								<div class="image">
									<img src="~/images//testimonial/01.jpg" alt="">
								</div>
								<div class="content">
									<div class="name">
										John Stam
									</div>
									<p>
										Ut wisi enim ad minim veniam, quis nostrud suscipit lobortis nisl ut aliquip ex ea commodo <br />consequat facer possim assum. Mirum est notare quam littera gothica .
									</p>
								</div>
							</div><!-- /.testimonial-item -->
							<div class="testimonial-item">
								<div class="image">
									<img src="~/images//testimonial/01.jpg" alt="">
								</div>
								<div class="content">
									<div class="name">
										Gareth Bale
									</div>
									<p>
										Ut wisi enim ad minim veniam, quis nostrud suscipit lobortis nisl ut aliquip ex ea commodo <br />consequat facer possim assum. Mirum est notare quam littera gothica .
									</p>
								</div>
							</div><!-- /.testimonial-item -->
							<div class="testimonial-item">
								<div class="image">
									<img src="~/images//testimonial/01.jpg" alt="">
								</div>
								<div class="content">
									<div class="name">
										Isco
									</div>
									<p>
										Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo <br />consequat facer possim assum. Mirum est notare quam littera gothica .
									</p>
								</div>
							</div><!-- /.testimonial-item -->
						</div><!-- /.testimonial owl-carousel -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-testimonial -->

		<section class="flat-row flat-brand style2">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h3>Partners</h3>
						</div>
						<ul class="owl-carousel-9">
							<li>
								<img src="~/images//logos/brand2.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand5.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand6.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand3.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand4.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand7.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand2.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand6.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand3.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand4.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand6.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand3.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand4.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand7.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand2.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand6.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand3.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand4.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand2.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand5.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand6.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand3.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand4.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand7.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand2.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand6.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand3.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand4.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand6.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand3.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand4.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand7.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand2.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand6.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand3.png" alt="">
							</li>
							<li>
								<img src="~/images//logos/brand4.png" alt="">
							</li>
						</ul><!-- /.owl-carousel-5 -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-brand -->

